@model List<EmployeeTracking.Web.Models.Domain.Department>
@{
}


<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-2">
                    <h2 style ="font-family: 'Kanit', sans-serif;" class="heading-section text-white">DEPARTMENTS</h2>
                </div>
            </div>
        </div>
        <table class="table  text-dark">
            <thead class="table table-dark text-dark">
                <tr class="company-heading table-title">
                    <th></th>
                    <th>Department Name</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr class="table-grown  table-title">
                        <td>
                            <div class="img img-hover" style="background-image: url(@company.ImgUrl);"></div>
                        </td>
                        <td>@company.Name</td>
                        <td>
                            <a type="button" asp-controller="CeoDepartment" asp-action="Edit" asp-route-id="@company.Id"><span aria-hidden="true"><i style="color:red" class="fa fa-edit ps-4"></i></span></a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @* <table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Project</th>
    <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var department in Model)
    {
    <tr>
    <td>@department.Id</td>
    <td>@department.Name</td>
    <td>
    @foreach (var project in department.Projects)
    {
    <span class="badge bg-primary text-white me-1">@project.Name</span>
    }
    </td>
    <td> <a class="btn btn-warning " asp-controller="CeoDepartment" asp-action="Edit" asp-route-id="@department.Id">Edit</a></td>
    </tr>
    }

    </tbody>
    </table>*@
    }
    else
    {
        <h1>There is no spoon :)</h1>
    }

</div>